@mixin sm {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin md {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $screen-xl-min) {
    @content;
  }
}

@mixin flex($justify, $align: center, $direction: row, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  -webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  justify-content: $justify;
  -webkit-box-align: $align;
  -ms-flex-align: $align;
}
