$primary-color: #153131;
$secondary-color: #c7ac92;
$tertiary-color: #f3efe0;
$text-color: #000000;
$container-width: 1200px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
