@import "./images.scss";
@import "./text.scss";
@import "./logoAnimate.scss";
@import "../discounts/discounts.scss";

.home {
  padding: 10px;
  padding-bottom: 80px;
  position: relative;
  .container {
    @include flex(center, flex-start);
  }
}
