.home__text {
  width: 100%;
  text-align: justify;
  overflow: hidden;
  padding: 10px;
  h1 {
    text-align: center;
  }
  .button {
    position: absolute;
    left: 3%;
    bottom: -50px;
    width: 94%;
    button {
      width: 100%;
    }
    @include flex(center, center);
  }
  @include md {
    width: calc(100% - 350px);
    padding-top: 50px;
  }
  @include lg {
    .only__text {
      width: 100%;
      margin: 0 auto;
      display: block;
      margin-top: 50px;
      padding: 10px;
    }
  }
  @include xl {
    width: calc(100% - 570px);
    padding-left: 50px;
    padding-top: 50px;
    .only__text {
      width: 80%;
      margin: 0 auto;
      display: block;
      margin-top: 50px;
      padding: 10px;
    }
    .button {
      position: relative;
      width: 100%;
      left: auto;
      bottom: auto;
      margin-top: 20px;
      button {
        width: 100%;
      }
    }
  }
}
